<section class="py-3 py-md-3">
  <div>
    <div class="bg-surface-50 dark:bg-surface-950">
      <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
        <div class="bg-surface-0 dark:bg-surface-900 shadow-sm p-5 rounded-2xl">
          <div class="flex justify-between gap-4">
            <div class="flex flex-col gap-2">
              <span class="text-surface-700 dark:text-surface-300 font-normal leading-tight">Total Events Fetched</span>
              <div
                class="text-surface-900 dark:text-surface-0 font-semibold text-2xl! leading-tight!">{{ totalEvents }}
              </div>
            </div>
            <div class="flex items-center justify-center rounded-lg w-10 h-10">
              <i class="pi pi-list-check text-surface-0 dark:text-surface-900 text-xl! leading-none!"></i>
            </div>
          </div>
        </div>

        <div class="bg-surface-0 dark:bg-surface-900 shadow-sm p-5 rounded-2xl">
          <div class="flex justify-between gap-4">
            <div class="flex flex-col gap-2">
                      <span
                        class="text-surface-700 dark:text-surface-300 font-normal leading-tight">Average Duration</span>
              <div
                class="text-surface-900 dark:text-surface-0 font-semibold text-2xl! leading-tight!">{{ averageDuration }}
              </div>
            </div>
            <div class="flex items-center justify-center rounded-lg w-10 h-10">
              <i class="pi pi-clock text-surface-0 dark:text-surface-900 text-xl! leading-none!"></i>
            </div>
          </div>
        </div>

        <div class="bg-surface-0 dark:bg-surface-900 shadow-sm p-5 rounded-2xl">
          <div class="flex justify-between gap-4">
            <div class="flex flex-col gap-2">
              <span class="text-surface-700 dark:text-surface-300 font-normal leading-tight">Unique Users</span>
              <div
                class="text-surface-900 dark:text-surface-0 font-semibold text-2xl! leading-tight!">{{ uniqueUsers }}
              </div>
            </div>
            <div class="flex items-center justify-center rounded-lg w-10 h-10">
              <i class="pi pi-user text-surface-0 dark:text-surface-900 text-xl! leading-none!"></i>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

</section>
