@use '../../../../styles/variables' as v;

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.full-page-container {
  width: 100%;
  height: 100vh;
}

.eventheight {
  height: 100vh;
}

.image-container {
  position: relative;
  width: 100%;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 2.5rem;
  border-radius: 16px;
  overflow: hidden;
  background-image: url('/images/Landing-pattern.svg');
  background-size: cover;
  background-position: center;
}

/* Create a pseudo-element to overlay the image */
.image-container::before {
  content: "";
  position: absolute;
  inset: 0;
  /*background: linear-gradient(135deg, rgba(246, 232, 232, 0.45), rgba(0,0,0,0.25));*/
  z-index: 0;
}


.centered-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Media query for screens with a maximum width of 768px (adjust as needed) */
@media only screen and (max-width: 768px) {
  .centered-div {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
  }
}

.login-label {
  width: 374px;
  height: 24px;
  top: 99px;
  left: 24px;
  gap: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: v.$text-black;
}
.login-label-two {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: v.$text-black;
}

.image-container > * {
  position: relative;
  z-index: 1; /* ensure content sits above overlay */
}

.custom-position {
  top: 5px; /* Adjust as needed */
  left: 75px; /* Adjust as needed */
}

.active_nav_titles {
  background-color: v.$surface-50 !important;
  color: v.$brand-accent !important;
  gap: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.33px;
  text-align: left;
  border: none !important;
}

.nav_titles {
  background-color: v.$surface-50;
  color: v.$text-default;
  gap: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.33px;
  text-align: left;
  border: none !important;
}

.welcome-font {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
}

.welcome-subtext-font {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
