<div class="">
  <div class=" text-sm lg:pt-20 pt-5">

    <div class="  pt-2 w-full" style="background-color: #FBFBFB!important">

      <app-page-header
        [title]="'Analysis Tools (Daily Rollup)'"
        [subtitle]="'Find a summary of user engagement and application performance metrics'">
        <div actions class="w-100">
          <div class="flex flex-col sm:flex-row w-full items-stretch sm:items-center gap-2 sm:gap-3">

            <button (click)="toggleFilterVisibility()" class="btn custom-btn-primary  w-full sm:w-auto" pButton type="submit">
              <i class="pi pi-database" pButtonIcon></i>
              <span pButtonLabel>Set Analysis Parameters</span>
            </button>

          </div>
        </div>
      </app-page-header>

      <div class="pt-1">
        <app-analysis-cards-component
          [totalEvents]="totalEvents"
          [averageDuration]="averageDuration"
          [uniqueUsers]="uniqueUsers"></app-analysis-cards-component>

        <div class="my-2">
          <div class="bg-surface-50 dark:bg-surface-950">

            <div class="space-y-6">
              <!-- Row 1 -->
              <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
                @if (pivotTableLoaded) {
                  <app-pivot-table-component [pivotRowData]="pivotRowData" [pivotColumnDefs]="pivotColumnDefs"></app-pivot-table-component>
                } @else {
                  <div class="flex justify-center items-center h-screen">
                    <p-progressSpinner></p-progressSpinner>
                  </div>
                }

                @if (groupTableLoaded) {
                  <app-grouped-table-component [groupRowData]="groupRowData" [groupColumnDefs]="groupColumnDefs"></app-grouped-table-component>
                } @else {
                  <div class="flex justify-center items-center h-screen">
                    <p-progressSpinner></p-progressSpinner>
                  </div>
                }
              </div>
            </div>

          </div>
        </div>

      </div>


    </div>
  </div>
</div>


<app-analysis-parameters-drawer
  [(visible)]="visible"
  [dimensionOptions]="dimensionOptions"
  [measureOptions]="measureOptions"
  (groupSubmit)="onGroupSubmit($event)"
  (pivotSubmit)="onPivotSubmit($event)">
</app-analysis-parameters-drawer>
