<div class="w-full rounded-xl border border-gray-200 bg-white shadow p-4 md:p-6">
  <div class="flex justify-between items-center mb-3">
    <h6 class="text-lg font-semibold text-gray-800">Grouped Data View</h6>


    <p-split-button
      [model]="items"
      class="w-full sm:w-auto"
      label="Export Records"
      severity="contrast">
      <ng-template pTemplate="content">
                          <span class="flex align-items-center font-bold">
                            <i class="pi pi-download" pButtonIcon></i>
                            <span class="ms-2">Export</span>
                          </span>
      </ng-template>
    </p-split-button>

  </div>
  <ag-grid-angular
    aria-label="Grouped data view"
    [columnDefs]="groupColumnDefs"
    [rowData]="groupRowData"
    [defaultColDef]="defaultColDef"
    [domLayout]="domLayout"
  ></ag-grid-angular>
</div>
